/* header */
header {}
header .seoul_top {
    width: 1551px; height: 48px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; /* 양쪽 끝 */
    align-items: center;
    margin: 0 auto;
}
header .seoul_top nav {} 
header .seoul_top nav a {
    margin-right: 16px;
    font-size: 0.875rem;
} /*  */
header .seoul_top nav a:last-child{margin-right: 0;}
header .seoul_top nav a img {} /*  */
header .seoul_top .right {}
header .seoul_top .right a {
    margin-left: 16px;
    font-size: 0.875rem;
}
header .seoul_top .right a:first-child{margin-left: 0;}
header .seoul_bottom {
    width: 1151px; height: 119px; margin: 0 auto;
    /* h1, search_frm, right 정렬 대상의 부모 flex 대상 */
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .seoul_bottom h1 {}
header .seoul_bottom h1 a {}
header .seoul_bottom h1 a img {}
header .seoul_bottom #search {} /* form에 input id search */
header .seoul_bottom #search fieldset {
    width: 370px; height: 47px;
    border: 2px solid #126cb3;
    background: #fff;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; padding: 0 13px 0 21px;
}
header .seoul_bottom #search fieldset #user_search {
    width: 300px; outline: none; /* 자주쓰는속성 테두리 제거 */
} /* input id # */
header .seoul_bottom #search fieldset #user_search::placeholder {color:#126cb3;}
header .seoul_bottom .lang_right {} 
header .seoul_bottom .lang_right #lang_sele {
    float: right;
} /* form - > id #lang_sele  */
header .seoul_bottom .lang_right #lang_sele fieldset {
}
header .seoul_bottom .lang_right #lang_sele fieldset select {
    background-color: #fff;
    width: 98px; height: 28px; margin-right: 7px;
    border: 1px solid #126cb3; font-size: 0.8125rem;
}
header .seoul_bottom .lang_right #lang_sele fieldset select option{}
header .seoul_bottom .lang_right #lang_sele fieldset #go {
    background-color: #126cb3; color: #fff;
    font-size: 0.8125rem;
    width: 28px; height: 28px;
}
header .seoul_bottom .lang_right .weather {clear: both;} /* 옆으로 안가겠다는 표시  clear: both; */
header .seoul_bottom .lang_right .weather .current_weather {
    color: #000;
    text-align: left;
    font-family: Noto Sans KR;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
    padding: 5px 0;
}
header .seoul_bottom .lang_right .weather .current_weather p {
    font-size: 13px;
    font-weight: 400;
    font-family: Noto Sans KR;
    line-height: normal;
}

main {}
main > * {width: 1151px; margin:auto;}
main .visual {
    background-color: yellowgreen;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .visual .left {
    background-color: violet;
    width: 770px;
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; */
    position: relative;
}
main .visual .left a {}
main .visual .left a img {

}
main .visual .left .close {
    font-size: 0.813rem;
    /* width: 52px; height: 28px; */
    color: #fff;
    border: 1px solid #000;
    background: #126cb3;
    padding: 5px 9px; 
    border-radius: 5px; 
    display: inline-block; /* 겹쳐서 */
    position: absolute; /*  */
    right: 15px; bottom: 15px; /* 버튼에 가까운 방향대로  */
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: right; */
}
/*  */
main .visual .right {
    background-color: turquoise;
    width: 360px;
}
main .visual .right .corona {
    position: relative;
    display: block;
    background-color: tomato;
}
main .visual .right .corona img {
    /* width: 360px; height: 260px; */
}
main .visual .right .corona .date {
    /* border: 1px solid #000; */
    position: absolute;
    right: 20px; top: 14px;
    font-family: Noto Sans KR;
}
main .visual .right .corona .data {
    position: absolute;
    font-family: Noto Sans KR;
}
main .visual .right .corona .data:nth-child(3) {
    /* width: 140px; height: 13px; */
    /* border: 1px solid #000; */
    /* background-color: yellow; */
    position: absolute;
    left: 30px; top: 84px;
    width: 140px; 
    text-align: center;
} /* 확진자 */
main .visual .right .corona .data:nth-child(4) {
    /* background-color: aqua; */
    position: absolute;
    right: 29px; top: 84px;
    width: 140px; 
    text-align: center;
} /* 추가 확진자 */
main .visual .right .corona .data:nth-child(5) {
    /* background-color: blue; */
    position: absolute;
    left: 30px; bottom: 58px;
    width: 94px; 
    text-align: center;
} /* 퇴원 */
main .visual .right .corona .data:nth-child(6) {
    /* background-color: blue; */
    position: absolute;
    right: 121px; bottom: 58px;
    width: 94px; 
    text-align: center;
} /* 추가퇴원  */
main .visual .right .corona .data:nth-child(7) {
    /* background-color: aqua; */
    position: absolute;
    right: 32px; bottom: 58px;
    width: 94px; 
    text-align: center;
} /* 사망 */
main .visual .right .traffic {}
main .visual .right .traffic img {}

/* 2행 */
main .service {
    
}
main .service .service_title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    /* background-color: tomato; */
}

main .service .service_title h1 {
    /* width: 82px; height: 24px; */
    /* border: 1px solid #000; */
    background: #d9d9d9;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
}
main .service .service_title .site {
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    background-color: yellow;
}
/* main .service .service_title .site .contents {} */


/* 2행  */
main .service {}
main .service .service_title {
    background-color: aqua;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px 2;
}
main .service .service_title h1 {}

main .service .service_title .site {}

main .service .contents {
    background-color: yellowgreen;
    display: flex; flex-flow: row nowrap;
}
main .service .contents a {
    display: flex; /* a한테 display flex를 적용하면 display:block를 쓴 것과 같은 의미로 적용된다. */
    flex-flow: column nowrap;
    width: 9.09%;
    text-align: center;
}
main .service a img {
    width: 60px; margin: 0 auto;
}
main .service a span {
    font-size: 0.813rem;
}
/* 2행 */

/* 3행 */
main .bnr_bg {
    background-color: #eff4f8;
    width: 1920px;
}
main .bnr_bg .bnr {
    width: 1151px;
    margin:0px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /* justify-content: center; */
}
main .bnr_bg .bnr a {
    display: block;
    
}
main .bnr_bg .bnr a img {}

/* footer top */
footer {
    background-color: aquamarine;
    width:1151px;margin: 0 auto; 
}
footer .top {}
footer .top .menu {}
footer .top .menu a {}
footer .top .sns {
    /* background-image: url(../images/icon_sns2/icon_set3.png);
    background-repeat: no-repeat;
    width: 250px; */
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: right
}
footer .top .sns a {
    background-image: url(../images/icon_sns2/icon_set3.png);
    background-repeat: no-repeat;
    width: 25px; height: 25px;
    text-indent: -9999px;
    display: inline-block;
    /* display: flex; 
    justify-content: space-around; */
}
footer .top .sns a:nth-child(1) {}
footer .top .sns a:nth-child(2) {background-position-x:-25px;}
footer .top .sns a:nth-child(3) {background-position-x:-50px;}
footer .top .sns a:nth-child(4) {background-position-x:-75px;}
footer .top .sns a:nth-child(5) {background-position-x:-100px;}
footer .top .sns a:nth-child(6) {background-position-x:-125px;}
/* 색 적용 */
footer .top .sns a:hover {
    background-position-y:-25px;
}/* background-position-y:-25px; 밑에 값 같아서 통일 */
footer .top .sns a:nth-child(1):hover {}
footer .top .sns a:nth-child(2):hover {}
footer .top .sns a:nth-child(3):hover {}
footer .top .sns a:nth-child(4):hover {}
footer .top .sns a:nth-child(5):hover {}
footer .top .sns a:nth-child(6):hover {}
/* footer bottom */
footer .bottom {background-color: aqua;}
footer .bottom .left {}
footer .bottom .left p {}
footer .bottom .left p img {
    
}
footer .bottom .left address {
    font-size: 13px;
    font-weight: 400;
}
footer .bottom  .banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: right
}
footer .bottom  .banner a {
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: right; */
}
/*  */